*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz


# Minified js
*.min.js
/assets/js/vendor/*.min.js
/assets/js/editor.js

# Node
/node_modules

# Composer
/vendor

# PhpStorm
.idea

# macOS
.DS_Store
